<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>03-Vue简易留言板</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
</head>
<link rel="stylesheet" href="./lib/bootstrap.min.css">
<script src="./lib/jquery-3.2.1.min.js"></script>
<script src="./lib/bootstrap.js"></script>
<script src="vue.js"></script>
<!-- <script src="../vue.js"></script> -->
<script type="text/javascript">
/*
使用vue2 v-model绑定两个text输入框后,在两个输入框中输入内容,重置后再输入,输入第一个时,第二个会自动填充重置前输入的内容


 */
    window.onload = function() {
        var vm = new Vue({
            el:'#box',
            data:{
                myData:[
                    /*{name:"xxx",age:"xx"}*/
                ],
                username:'',
                age:'',
                nowIndex:-100
            },
            methods:{
                add:function  () {
                    // alert(1);
                    this.myData.push({
                        name:this.username,
                        age:this.age
                    });
                    this.username='';
                    this.age='';
                    // console.log(this.nowIndex);
                },
                deleteMsg:function(i) {
                    // alert(i+1);
                    if (i==-2) {
                        this.myData=[];
                    } else{
                        this.myData.splice(i,1);
                    }

                }
            }
        });
    };
</script>
<body>
<div class="container" id="box">
    <form role="form">
        <div class="form-group">
            <label for="username">用户名:</label>
            <input type="text" id="username" class="form-control" placeholder="输入用户名" v-model="username">
        </div>
        <div class="form-group">
            <label for="username">年 龄:</label>
            <input type="text" id="age" class="form-control" placeholder="输入年龄" v-model="age">
        </div>
        <div class="form-group">
            <input type="button" value="添加" class="btn btn-primary" v-on:click="add()">
            <input type="reset" value="重置" class="btn btn-danger">
        </div>
    </form>
    <hr>
    <table class="table table-bordered table-hover">
        <caption class="h3 text-info text-center">用户信息表</caption>
        <tr class="text-danger">
            <th class="text-center">序号</th>
            <th class="text-center">名字</th>
            <th class="text-center">年龄</th>
            <th class="text-center">操作</th>
        </tr>
        <tr class="text-center" v-for="(v,i) in myData">
            <td>{{i+1}}</td>
            <td>{{v.name}}</td>
            <td>{{v.age}}</td>
            <td>
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#layer" v-on:click="nowIndex=i">删除</button>
            </td>
        </tr>
        <tr v-show="myData.length!=0">
            <td colspan="4" class="text-right">
               <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#layer"  v-on:click="nowIndex=-2">删除全部</button>
            </td>
        </tr>
        <tr v-show="myData.length==0">
            <td colspan="4" class="text-center text-muted">
                <p>暂无数据...</p>
            </td>
        </tr>
    </table>
    <!-- 模态框 弹出框 -->
<div role="dialog" class="modal fade bs-example-modal-sm" id="layer" v-bind:data-index="nowIndex">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                    <h4 class="modal-title">确认删除第{{nowIndex+1}}条数据么?</h4>
                </div>
                <div class="modal-body text-right">
                    <button class="btn btn-primary btn-sm" data-dismiss="modal">取消</button>
                    <button class="btn btn-danger btn-sm" data-dismiss="modal" v-on:click="deleteMsg(nowIndex)">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>