@charset "utf-8";

/*样式重置(reset)*/
body,h1,h2,h3,h4,p,dl,dt,dd,ul,li,table,tr,th,td,form,textarea,select {
    margin: 0;
    padding: 0;
}
em {font-style: normal}
li {list-style: none;}
a {text-decoration: none;color: #555;  }
img {border: none;}
table {border-collapse: collapse;}
input,textarea {outline: none}
textarea {resize: none;overflow: auto;}
body {font-size: 12px;font-family: Arial,"微软雅黑";}