@charset "utf-8";


/* reset */
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:"微软雅黑"; }
/* end reset */

/* public */
.clear { zoom:1;}
.clear:after{clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}
.fl{float: left;}
.fr{float: right;}
.gradient{
    background:-moz-linear-gradient(top, #FFFFFF, #f8f8f8);
    background:-webkit-linear-gradient(top, #FFFFFF, #f8f8f8);
    background:-ms-linear-gradient(top, #FFFFFF, #f8f8f8);
    background:linear-gradient(top, #FFFFFF, #f8f8f8);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
    +background:#f9f9f9;
}
.triangle_up,.triangle_down_red,.triangle_down_gray{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.triangle_up{
    border-bottom: 4px solid #ca0309;
}
.triangle_down_red{
    border-top: 4px solid #ca0309;
}
.triangle_down_gray{
    border-top: 4px solid #c4bdbd;
}


/* end public */


/*布局 layout*/
#header, #nav, #content{
    width: 960px;
    margin: 0 auto;
}
#search, .section, .side_section, .ad_border, #footer{
    border: 1px solid #bdbdbd;
    border-radius: 6px;
}
.section, .options, .main_ad, .side_section, .side_ad, .ad_border{
    margin-bottom: 10px;
}
body{
    margin-bottom: 30px;
}
#header{
    height: 30px;
    border-radius:0 0 6px 6px ;
}
#nav{
    height: 100px;
    position: relative;
}
#search{
    width: 958px;
    height: 114px;
    margin: 0 auto 10px auto;
    position: relative;
}
.main{
    width: 710px;

}
.options{
    width: 348px;
    position: relative;
}
.main_ad{
    overflow: hidden;
    border-radius: 6px;
}
.side{
    width: 240px;
}
.side_section{
    height: 60px;/*3333333*/
    padding: 0 12px;
}
.side_ad{
    border-radius: 6px;
    overflow: hidden;
}
.ad_border{
    width: 238px;
    height: 88px;/*3333333*/
    overflow: hidden;
}
#footer{
    width: 958px;
    height: 78px;/*3333333*/
    background: #f9f9f9;
    margin: 0 auto;
}


.options .nav{
    position: relative;
    width: 350px;
    height: 34px;
    line-height: 34px;
    z-index: 2;
}
.options .nav li{
    height: 33px;
    line-height: 33px;
    text-align: center;
    width: 172px;
    border: 1px solid #bdbdbd;
    border-bottom:none;
    border-radius: 6px 6px 0 0;
    position: relative;
}
.options .nav .active{
    height: 34px;
    width: 172px;
    background: #fff;
}
.options .con{
    width: 318px;
    padding:0 15px;
    border: 1px solid #bdbdbd;
    border-radius: 0 0 6px 6px;
    position: absolute;
    top: 34px;
    left: 0;
    z-index: 1;
}

.nav li strong,.main_title strong{
    color: #cc0d13;
    font-family:"Arial";
    font-size: 12px;
}
.nav li span,.main_title strong span{
    color: #000;
}
.nav .triangle_down_red,.nav .triangle_down_gray{
    top: 14px;
    right: 12px;
}
.main_title{
    height: 40px;
    line-height: 40px;
    position: relative;
}
.main_title a{
    position: absolute;
    top: 15px;
    right: 0;
}

/*头部*/
#header .city{
    float: left;
    padding: 5px 20px;
}
#header .city a{
    display: inline-block;
    padding:0 7px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #e5e5e5;
    background: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 0 #ededed;
    color: #999;
}
#header .city .active,#header .city .active:hover{
    background: #fff;
    color: #d60d03;
}
#header .city a:hover{
    background: #ccc;
}
#header .link{
    float: right;
    line-height: 30px;
    padding-right: 20px;
    color: #d5d5d5;
    word-spacing: 4px;
}
#header .link a{
    background: url(../images/header_link_bg.gif) no-repeat ;
    padding-left: 20px;
    color: #666;
}
#header .link a:hover{
    text-decoration: underline;
}
#header .link .icon1{
    background-position:0 3px;
}
#header .link .icon2{
    background-position:0 -27px;
}

/*导航*/
#nav ul{
    position: absolute;
    top: 10px;
}
#nav li{
    float: left;
}
#nav li a{
    display: block;
    width: 66px;
    padding-top: 50px;
    text-align: center;
    background: url(../images/nav_bg.png) no-repeat;
    color: #333;
}
#nav li a:hover{
    font-weight: bolder;
    color: #a70c01;
}
#nav .bg1{background-position: 0 0;}
#nav .bg2{background-position: -66px 0;}
#nav .bg3{background-position: -132px 0;}
#nav .bg4{background-position: -198px 0;}
#nav .bg5{background-position: -264px 0;}
#nav .bg6{background-position: -330px 0;}
#nav .bg7{background-position: -396px 0;}
#nav .bg8{background-position: -462px 0;}
#nav .bg9{background-position: -528px 0;}
#nav .bg10{background-position: -594px 0;}
#nav .bg1:hover{background-position: 0 -70px;}
#nav .bg2:hover{background-position: -66px -70px;}
#nav .bg3:hover{background-position: -132px -70px;}
#nav .bg4:hover{background-position: -198px -70px;}
#nav .bg5:hover{background-position: -264px -70px;}
#nav .bg6:hover{background-position: -330px -70px;}
#nav .bg7:hover{background-position: -396px -70px;}
#nav .bg8:hover{background-position: -462px -70px;}
#nav .bg9:hover{background-position: -528px -70px;}
#nav .bg10:hover{background-position: -594px -70px;}
#nav .nav_1{
    left: 11px;
}
#nav .nav_2{
    right: 11px;
}
#nav h1{
    width: 223px;
    height: 62px;
    margin: 0 auto;
    position: relative;
    top: 10px;
}

/*搜索*/
#search .bar{
    width: 100%;
    height: 64px;
    border: 1px solid #c40d0e;
    position: relative;
    top: 16px;
    left: -1px;
    border-radius: 5px;
    background: #e21c01;
    box-shadow: 2px 3px 2px #e3e3e3;

}
#search .menu{
    position: absolute;
    left: 226px;
    top: -27px;
}
#search .menu li{
    float: left;
    width: 78px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    margin-right: 1px;
    display: inline-block;
    cursor: pointer; /*更改光标样式*/
    border: 1px solid #f8d0bf;
    border-bottom:none;
    border-radius: 5px 5px 0 0;
    box-shadow: 1px 0 2px rgba(172,172,172,0.3);
}
#search .menu .active{
    height: 27px;
    background: #e21c01;
    border: 1px solid #e21c01;
    color: #fff;
    font-weight: bold;
    position: relative;
    top: -1px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.25);
}
#search .img{
    width: 163px;
    height: 122px;
    background: url(../images/search_img.png) 0 0 no-repeat;
    position: absolute;
    border:none;
    left: 32px;
    top: -3px;
    z-index: 2;
}
#search .form{
    position: absolute;
    left: 226px;
    top: 36px;
    z-index: 3;
}
#search .form .text{
    width: 380px;
    height: 22px;
    padding: 0 12px;
    border:none;
    background: #fff1ef;
    border-radius: 3px;
    float: left;
    margin-right: 10px;
    color: #ea7a7a;
    font-size: 12px;
    box-shadow:inset 2px 2px 3px rgba(0,0,0,0.25);
}
#search .form .btn{
    width: 63px;
    height: 26px;
    background: url(../images/search_img.png) -163px 0 no-repeat;
    z-index: 2;
    border:none;
    float: left;
    cursor: pointer;
}
#search .key_text{
    width: 206px;
    color: #fff;
    line-height: 18px;
    position: absolute;
    top: 30px;
    right: 36px;
}
#search .key_text a{
    color: #fff;
}
#search .key_text a:hover{
    text-decoration: underline;
}

#search .update{
    width: 405px;
    height: 30px;
    position: absolute;
    left: 226px;
    bottom: 0;
    background: url(../images/search_img.png) -226px 8px no-repeat;
}
#search .wrap{
    width: 336px;
    height: 30px;
    overflow: hidden;
    position: relative;
    left: 60px;
}
#search .update ul{
    width: 336px;
    position: absolute;
    left: 0;
    top: -30px;
}
#search .update li{
    height: 30px;
    line-height: 30px;
}
#search .update a{
    color: #000;
}
#search .update strong{
    color: #d30703;
    font-weight: normal;
}
#search .update span{
    color: #999;
}
#search .triangle_up{
    top: 8px;
    right: 0;
}
#search .triangle_down_red{
    top: 17px;
    right: 0;
}

/*主体内容*/
/* video */
#content .video_title{
    height: 42px;
    line-height: 42px;
    background: url(../images/video_bg.gif) no-repeat 105px 10px;
    font-size: 18px;
    font-family:"Arial";
    color: #d90000;
    font-weight:normal;
}
#content .video_title span{
    position: relative;
    top: -12px;
}
#content .video{
    margin-bottom: 13px;
}
#content .video_list{
    padding-left: 75px;
    height: 78px;
    background: url(../images/video_bg.gif) no-repeat 3px -47px;
}
#content .video_list li{
    line-height: 20px;
    text-indent: 14px;
    background: url(../images/dot.gif) no-repeat 5px center;
}
#content .video_list a{
    color: #4d4d4d;
}
#content .video_list a:hover{
    text-decoration: underline;
}
/* end video */
/* hot */
.hot_list{
    padding-top: 10px;
    height: 374px;
    position: relative;
}
.hot_list li{
    width: 318px;
    height: 108px;
    margin-bottom: 6px;
    background: url(../images/hot_list_li_bg.gif);
}
.hot_list .img{
    float: left;
    width: 106px;
    height: 86px;
}
.hot_list .img a{
    display: block;
    width: 104px;
    height: 84px;
    border: 1px solid #E6E6E6;
}
.hot_list .img a:hover{
    border: 1px solid #929292;
}
.hot_list .text{
    float: right;
    width: 190px;
}
.hot_list h3{
    line-height: 24px;
}
.hot_list h3 a{
    font-weight:normal;
    color: #bb0d0d;
}
.hot_list p{
    line-height: 16px;
    color: #6e6e6e;
}
.hot_list .more{
    position: absolute;
    bottom: 6px;
    right: 0;
}
/* end hot */

/* activity */

.new_title {  height:70px; position:relative; background:url(../images/new_title_bg.gif) no-repeat right 0; }
.new_title strong, .new_title span { position:absolute; left:24px; }
.new_title strong { font-size:12px; font-family:arial; color:#ea2b31; top:19px; }
.new_title span { font-size:24px; color:#333; top:31px; font-weight:normal; }
.new_title em { font-size:36px; font-weight:bold; color:#ec1c16; position:absolute; left:125px; top:16px; }
.activity { width:348px; float:left; }
.recommend { width:348px; float:right; }
.recommend .new_title { background-position:right -70px; }
.activity, .recommend { height:498px; }
.activity .con { background:url(../images/activity_bg.gif) no-repeat; }
.activity .info { padding:16px 25px 0; height:104px; }
.activity .img { float:left; width:84px; height:84px; position:relative; }
.activity .mask { width:84px; height:84px; background:url(../images/activity_bg.gif) no-repeat -373px 0; position:absolute; top:0; left:0; }
.activity .img img { width:84px; height:84px; }
.activity .text { float:right; width:204px; }
.activity .text h3 { height:32px; font-size:12px; }
.activity .text em, .activity .text span { float:left; margin-right:4px; }
.activity .text em { width:25px; height:25px; background:url(../images/activity_bg.gif) no-repeat -348px 0; font-family:arial; font-size:14px; color:#cf3530; text-align:center; line-height:25px; }
.activity .text span { text-indent:2px; padding-top:4px; }
.activity .text p { line-height:18px; color:#999; }

.calendar { width:323px; padding-left:25px; position:relative; }
.calendar h3 { height:34px; line-height:34px; text-align:center; margin-right:31px; background:url(../images/adorn.gif)  repeat-x; word-spacing:10px; }
.calendar h3 span { font-size:14px; font-family:arial; color:#666; }
.calendar ol li { width:40px; height:40px; line-height:40px; margin:0 2px 2px 0; background:#ededed; float:left; text-align:center; position:relative; font-weight:bold; color:#666; font-family:arial; }
.calendar .normal { background:#f8f8f8; color:#ccc; }
.calendar .active, .calendar .img { position:absolute; top:0; left:0; }
.calendar .active { width:36px; height:36px; border:2px solid #d30408; cursor:pointer; }
.calendar .img { width:40px; height:40px; cursor:pointer; }

.today_info { width:294px; height:84px; padding:10px; border:1px solid #c0c0c0; background:#fff; position:absolute; top:136px; left:288px; box-shadow:4px 4px 0 rgba(0,0,0,0.2); display:none; }
.today_info img { width:80px; height:80px; border:2px solid #dbdbdb; float:left; }
.today_info .text { width:200px; float:right; }
.today_info h4 { font-size:12px; color:#333; padding-bottom:8px; }
.today_info strong { color:#ccc; font-size:18px; vertical-align:middle; }
.today_info p { color:#999; line-height:20px; }
.today_info span { width:8px; height:14px; overflow:hidden; position:absolute; top:45px; left:-8px; background:url(../images/adorn.gif) no-repeat 0 -48px; }

.recommend .pic { width:294px; height:168px; padding:12px 12px 0; background:#f8f8f8; position:relative; margin:0 auto; border-radius:6px; }
.recommend .pic ul { width:223px; height:133px; position:absolute; top:12px; left:12px; }
.recommend .pic ul li { width:223px; height:133px; border:1px solid #fff; position:absolute; top:0; left:0; }
.recommend .pic ul img { width:223px; height:133px; }
.recommend .pic ol { position:absolute; top:12px; right:12px; }
.recommend .pic ol li,.recommend .pic ol img { width:54px; height:30px; }
.recommend .pic ol li { border:3px solid #fff; margin-bottom:13px; }
.recommend .pic ol .active { border:3px solid #d6191d; }
.recommend .pic p { line-height:32px; position:absolute; left:12px; bottom:0px; }

.recommend .list { padding:18px 26px 0; }
.recommend .list li { height:27px; vertical-align:middle; }
.recommend .list em { float:left; color:#dfdfdf; margin-right:7px; }
.recommend .list em img { margin-right:3px; }
.recommend .list a { float:left; color:#454545; }
.recommend .list a:hover { text-decoration:underline; }
.recommend .list span { float:right; font-family:arial; font-size:12px; color:#999; }

/* end activity*/

#content .main{}
#content .section{}
#content .options{}
#content .main_ad{}
/*主体侧边*/
.side{}
.side_section{}
.side_ad{}
/*底部*/
#footer{}